<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}KupeLike{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" type="image/ico"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/estilo.css') }}" />
        <!-- Estilos CSS para producción para solucionar errores de carga de imágenes -->
            {% if app.environment == 'prod' %}
                <link rel="stylesheet" type="text/css" href="{{ asset('css/estilo_prod.css') }}" />
            {% endif %}
        <link href="{{ asset('/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        
        <script>
$(document).ready(function(){
    $('#search').on('keyup keypress', function(e) {
      var keyCode = e.keyCode || e.which;
      if (keyCode === 13) { 
        e.preventDefault();
        return false;
      }
    });
    $("#search").keyup(function(){
        var txtBusqueda = $("#search").val();
        if(txtBusqueda != ""){
            $.ajax({
                type: "POST",
                url: $("#navbar-search").attr("action"),
                dataType: "json",
                data: {textoBusqueda : txtBusqueda},
                success : function(response) {
                    //console.log(response);
                    $("#searchResults").show();
                    $("#searchResults").html("");
                    $.each(response, function(index, sagardotegi){
                        var ida = sagardotegi.id;
                        var sfoto = sagardotegi.foto;
                        var route = "{{ path('sagardotegi_view', { 'idSagardotegi': "change" }) }}".replace("change", ida);
                        var llegar = "{{ path("sagardotegi_mapa", { 'idSagardotegi': "change" }) }}".replace("change", ida);
                        var foto = "{{asset("change")}}".replace("change", sfoto);
                        
                        $("#searchResults").append(
    "<hr class='search-hr'><div class='row'>"+
        "<a name='"+sagardotegi.nombre+"' href='"+route+"'>"+
            "<div class='col-xs-offset-2 col-xs-5'>"+
                "<h2 class='card-title text-uppercase'>"+sagardotegi.nombre+"</h2>"+
                "<div class='card-margen-20'>"+
                    "<p class='card-description' id='descripcion'>"+sagardotegi.descripcion+"</p>"+
                    "<a href='"+llegar+"'><button type='button' class='btn btn-default'>Como llegar</button></a>"+
                    "<a href='#'><button type='button' class='btn btn-default'>Contacto</button></a>"+
                "</div>"+
            "</div>"+
        "</a>"+
        "<a name='"+sagardotegi.nombre+"' href='"+route+"'>"+
            "<div class='col-xs-4'>"+
                "<div class='card-sidreria'>"+
                    "<img class='img-responsive img-search' src='"+foto+"'></img>"+
                "</div>"+
            "</div>"+
        "</a>"+
    "</div>"
                        );
                    
                    });
                }
            });
        }
    });
});
        </script>
    </head>
    <body>
        <div class="wrapper">
        <nav class="navbar navbar-light bg-faded navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-1 navbar-header hidden-md hidden-lg">
                        <a id="navbar-ham" class="navbar-ham toggle-button visible-xs visible-sm"><i class="fa fa-bars fa-4x" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-4 col-lg-3 navbar-header">
                        <a id="navbar-title" class="navbar-title" href="{{ path('index') }}">Kupe<img class="img-logo"/>Like</a>
                    </div>
                    <div class="col-md-7 col-lg-8 desktop-menu visible-md visible-lg p-x-0">
                        <ul class="desktop-menu-links">
                            {% if app.user %}
                                {% if app.user.role == 'ROLE_ADMIN' %}
                                    <li><a href="{{path('panel_usuarios')}}">Administrar usuarios</a></li>
                                {% else %}
                                    <li><a href="{{path("administracion_usuarios", { nombreSidreria: app.user.nombreSidreria })}}">Mi Sidrería</a></li>
                                {% endif %}
                                <li><a href="{{path("contacto")}}">Ayuda</a></li>
                                <li><a href="{{path("logout")}}">Salir</a></li>
                            {% else %}
                                <li><a href="#mapa">Mapa</a></li>
                                <li><a href="#sidrerias">Sidrerias</a></li>
                                <li><a href="{{ path('contacto') }}">Contacto</a></li>
                                <li><a class="btn-access">Log In / Registrate</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-xs-7 col-md-1">
                        <form id="navbar-search" class="pull-right p-x-0" role="search" action="{{ path('sagardotegis_buscar') }}">
                            <div class="form-group">
                              <input  id="search" type="text" class="searchBox hidden" placeholder="Search">
                            </div>
                            <a id="searchButton" class="btn navbar-search-btn"><i id="searchIcon" class="fa fa-search fa-flip-horizontal fa-2x" aria-hidden="true"></i></a>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 searchResults" id="searchResults">
                </div>
            </div>
        </div>

        <!-- Menu desplegable izquierda -->
        <div class="menu">
        <span><i class="fa fa-times fa-2x pull-right close-menu" aria-hidden="true"></i></span>
            <ul class="menu-links">
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="#mapa">Mapa</a></li>
                <li><a href="#sidrerias">Sidrerias</a></li>
                <li><a href="{{ path('contacto') }}">Contacto</a></li>
                <li><a href="{{ path('nosotros') }}">Nosotros</a></li>
                {% if app.user %}
                        {% if app.user.role == 'ROLE_ADMIN' %}
                            <li><a href="{{path('panel_usuarios')}}">Administrar usuarios</a></li>
                        {% else %}
                            <li><a href="{{path("administracion_usuarios", { nombreSidreria: app.user.nombreSidreria })}}">Mi Sidrería</a></li>
                        {% endif %}
                        <li><a href="{{path("contacto")}}">Ayuda</a></li>
                        <li><a href="{{path("logout")}}">Salir</a></li>
                {% else %}
                    <li><a class="btn-access">Acceder <i class="fa fa-user fa-1x" aria-hidden="true"></i></a></li>
                {% endif %}
            </ul>
       </div>
           
       <!-- Access window -->
       
        <div class="accesWrapper">
            <div id="accessWindow" class="row">
                <div class="col-xs-12">
                    <a id="closeAccess" class="pull-right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-12">
                    <h1 class="access-title text-center">Acceder</h1>
                </div>
                <div class="col-xs-12">
                        <form class="contact_form" action="{{path('acceder')}}" method="post">
                            <input name= "username" class= "formulario" type="text" required  placeholder="Usuario"/>
                            <input name= "password" class= "formulario" type="password" required placeholder="Contraseña"/>
                            <input id="enviar" class="formulario" type="submit" value="Acceder" />
                        </form>
                </div>
                <div class="col-xs-12">
                    <a href="{{path("contacto")}}" class="access-link pull-right">¿Aún no eres parte de nuestra red?</a>
                </div>
            </div>
        </div>
        
        <!-- IMPORTANTE -> Todos los ficheros que se cargen en el block body deben empezar con un div container-fluid!!!!
        PERO SU ETIQUETA DE CIERRE CORRESPONDIENTE NO HACE FALTA!!! href="{{ path('login') }}"-->
            {% block body %}{% endblock %}
        </div><!-- .container-fluid -->
        <div class="push"></div>
        </div>
        <div class="container-fluid">
            
            <div class="row footer text-center">
                <div class="col-xs-12">
                    
                    <div class="row">
                        <div class="col-xs-12 font-face-primary p-20"> 
                        
                            <ul class="list-inline ftitle">
                                
                                <li><a href="https://www.facebook.com/kupelike" target="_blank">
                                    <span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x btn-social"></i>
                                      <i class="fa fa-facebook fa-stack-1x fa-inverse btn-social-inner" aria-hidden="true"></i>
                                    </span>
                                </a></li>
                                <li><a href="https://twitter.com/KupeLike" target="_blank"><span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x btn-social"></i>
                                      <i class="fa fa-twitter fa-stack-1x fa-inverse btn-social-inner" aria-hidden="true"></i>
                                    </span>
                                </a></li>
                                <li><a href="https://www.instagram.com/kupelike" target="_blank"><span class="fa-stack fa-2x">
                                      <i class="fa fa-circle fa-stack-2x btn-social"></i>
                                      <i class="fa fa-instagram fa-stack-1x fa-inverse btn-social-inner" aria-hidden="true"></i>
                                    </span>
                                </a></li>
                            </ul>
                            
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 font-face-primary"> 
                            <ul class="list-inline footer-menu text-uppercase">
                                <li><a href="{{ path('index') }}">Inicio</a></li>
                                <li><a href="{{ path('sagardotegien_mapak') }}">Mapa</a></li>
                                <li><a href="{{ path('sagardotegis_index') }}">Sidrerías</a></li>
                                <li><a href="{{ path('contacto') }}">Contacto</a></li>
                                <li><a href="{{ path('nosotros') }}">Nosotros</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 font-face-primary"> 
                            <ul class="list-unstyled footer-menu green-color">
                                <li><a href="tel:655555555"><i class="fa fa-phone-square" aria-hidden="true"></i> +34 655 55 55 55</a></li>
                                <li><a href="mailto:kupelikeproject@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> kupelikeproject@gmail.com</a></li>
                                <li><a href="https://www.google.es/maps/place/Instituto+de+Educaci%C3%B3n+Secundaria+Xabier+Zubiri+Manteo/@43.3274463,-1.9710159,20z/data=!4m5!3m4!1s0x0:0x8654b5f1f9a490ae!8m2!3d43.3274118!4d-1.9708255"><i class="fa fa-map-marker" aria-hidden="true"></i> Paseo de José Miguel Barandiarán, 10-12, 20013 San Sebastián, Guipúzcoa</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 subfooter">   
                    Copyright © 2017 KupeLike - All Rights Reserved - <a href="/privacy" class="">Privacy</a>
                </div>
                <hr class="fline"/>
            </footer>
        
        </div><!-- .container-fluid -->
        
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        
    </body>
</html>