<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}KupeLike{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="../../web/img/favicon.ico" type="image/ico"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/estilo.css') }}" />
        <link href="{{ asset('/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-xs-12">
<<<<<<< HEAD
                
=======

>>>>>>> 4c284f74bc827ff0182ee6a4e7cf53642b382236
                    <nav class="navbar navbar-light bg-faded row">
                        <div class="col-xs-3 col-sm-1"><a id="navbar-ham" class="navbar-ham toggle-button"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a></div>
                        <div class="col-xs-9 col-sm-3"><a id="navbar-title" class="navbar-title" href="{{ path('index') }}">KupeLike</a><button id="login-btn" class="btn btn-success" onclick="login()">Conectate</button></div>
                        <div class="col-xs-12 col-sm-8">
                          
                          <form id="navbar-search" class=" navbar-search form-inline">
                            <input class="form-control searchBox" type="text" placeholder="Search">
                            <button class="btn search-btn" type="submit"><i class="fa fa-search fa-flip-horizontal fa-1x" aria-hidden="true"></i></button>
                          </form>
                        </div>
                    </nav>
<<<<<<< HEAD
                
=======
>>>>>>> 4c284f74bc827ff0182ee6a4e7cf53642b382236
                </div>
                
                <div class="col-xs-12 searchResults">
                    <span class="closeSearch pull-right"><i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
                </div>
                
                <div class="menu">
                    <span><i class="fa fa-times fa-2x pull-right close-menu" aria-hidden="true"></i></span>
                    <ul class="menu-links">
                        <li><a href="{{ path('index') }}">Home</a></li>
                        <li><a href="{{ path('sagardotegien_mapak') }}">Mapa</a></li>
                        <li><a href="{{ path('sagardotegis_index') }}">Sidrerias</a></li>
                        <li><a href="{{ path('contacto') }}">Contact</a></li>
                        <li><a href="{{ path('nosotros') }}">Nosotros</a></li>
                    </ul>
               </div>
                
            </div>
        
        </div><!-- .container-fluid -->
        
        <div id="contenido" class="container">
            {% block body %}{% endblock %}
        </div><!-- .container-fluid -->
        
        
        <div class="container-fluid footer">
            
            <div class="row">
                <div class="col-xs-12">
                    
                    <div class="row text-center">
                        
                        <div class="col-md-4 col-xs-4 font-face-primary p-20"> 
                            <a href="http://www.facebook.com/kupelike"><i class="fa fa-facebook btn-social fa-5x" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-4 col-xs-4 font-face-primary p-20"> 
                            <a href="http://www.twitter.com/kupelike"><i class="fa fa-twitter btn-social fa-5x" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-4 col-xs-4 font-face-primary p-20"> 
                            <a href="http://www.instagram.com/kupelike"><i class="fa fa-instagram btn-social fa-5x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3 font-face-primary pc-footer"> 
                            <h3 class="ftitle">PAGE</h3>
                            <ul class="list-unstyled ftitle">
                                <li><a href="" class="green-color">First item</a></li>
                                <li><a href="" class="green-color">Second item</a></li>
                                <li><a href="" class="green-color">Third item</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1 font-face-primary pc-footer"> 
                            <h3 class="ftitle">CONTACT</h3>
                            <ul class="list-unstyled ftitle">
                                <li><a href="tel:655555555" class="green-color"><i class="fa fa-phone-square" aria-hidden="true"></i> +34 655 55 55 55</a></li>
                                <li><a href="mailto:kupelike@kupelike.com" class="green-color"><i class="fa fa-envelope" aria-hidden="true"></i> kupelike@kupelike.com</a></li>
                                <li><a href="https://maps.google.com/" class="green-color"><i class="fa fa-map-marker" aria-hidden="true"></i> Helbidea 56, Donostia</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <hr class="fline"/>
                    
                    <div class="row subfooter">
                        <div class="col-xl-12 text-xl-center col-xs-12 text-xs-center"> 
                        Copyright © 2016 KupeLike - All Rights Reserved - <a href="/privacy" class="subfooter ">Privacy</a>
                        </div>
                    </div>
                </div>
                
            </div>
        
        </div><!-- .container-fluid -->

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/script.js') }}"></script>
        <script src="{{ asset('js/fb-connection.js') }}"></script>
        
    </body>
</html>
