{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="mtitle title-padding text-center">{{ 'titulos.editsidre' | trans }}</h1>
                </div>
            </div>

           <div class="row">
            <form action="{{ path("actualizar_sagardotegi", {id: sidreria.id})}}" method="post" class="contact_form" enctype="multipart/form-data">
                <div class="row">   
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>{{ 'labels.sidreria.nombre' | trans }}</label><input type="text" name="nombre" class="formulario" value="{{sidreria.nombre}}" placeholder="Nombre" required/>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-xs-12">
                                <label>{{ 'labels.sidreria.foto' | trans }}</label><input type="file" name="foto" value="{{sidreria.foto}}" class="formulario" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <label>{{ 'labels.sidreria.descripcion' | trans }}</label><textarea name="descripcion" class="formulario" style="resize: vertical;" placeholder="Descripción">{{sidreria.descripcion}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>{{ 'labels.sidreria.horario' | trans }}</label><textarea name="horario" class= "formulario" style="resize: vertical;" placeholder="Horario del Txotx">{{sidreria.horario}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-xs-12">
                        <label>{{ 'labels.sidreria.ubicacion' | trans }}</label><div id="map" class="mapa mapaNSagar"></div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-xs-6">
                        <div class="row"> 
                            <div class="col-xs-12">
                                <label>{{ 'labels.sidreria.direccion' | trans }}</label><input id="direccion" type="text" name="direccion" class="formulario" value="{{sidreria.direccion}}" placeholder="Dirección" required/>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-xs-12">
                                <input id="pueblo" type="text" name="pueblo" class="formulario" value="{{sidreria.pueblo}}" placeholder="Pueblo" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row"> 
                            <div class="col-xs-12">
                                <label>{{ 'labels.sidreria.coordenadas' | trans }}</label><input id="lat" type="text" name="latitud" class="formulario" value="{{sidreria.latitud}}" placeholder="Latitud" required/>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-xs-12">
                                <input id="long" type="text" name="longitud" class="formulario" value="{{sidreria.longitud}}" placeholder="Longitud" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-xs-12">
                        <button type="submit" class="formulario" class= "formulario" id="enviar" >{{ 'boton.guardar' | trans }}</button>
                    </div>
                </div>
            </form>
            <div class="row"> 
                <div class="col-xs-12">
                    <a href="{{ path("administracion_usuarios",{nombreSidreria: app.user.nombreSidreria})}}"><button id="cancelar" class= "formulario">{{ 'boton.cancelar' | trans }}</button></a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script>
          var map;
          var centro;
          var sidrerias = [];
        function myMap() {
            
            var perImg="{{asset('img/personaPos.png')}}";
      		//var perImg="https://kupelike-oalba.c9users.io/img/personaPos.png";
      		var persImg={
      			url:perImg,
      			size: new google.maps.Size(35, 35)
      		};

            var mapCanvas = document.getElementById("map");
            var mapOptions = {
                streetViewControl: true,
                mapTypeControl: true,
                zoomControl: true,
                center: new google.maps.LatLng({{ sidreria.latitud }},{{ sidreria.longitud }}),
                zoom: 15,
                scrollwheel: false
            };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            
            var sidreria = new google.maps.Marker({
                position: new google.maps.LatLng({{ sidreria.latitud }},{{ sidreria.longitud }}),
                animation: google.maps.Animation.DROP,
                map: map,
                title: 'Tu sidrería.'
            });
            sidrerias.push(sidreria);
            setMapOnAll(map);
            
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                  var perPos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                  };
                  var persona = new google.maps.Marker({
                    position: perPos,
                    animation: google.maps.Animation.DROP,
                    map: map,
                    title: 'Tu posición.',
                    icon: persImg
                  });
                  //map.setCenter(perPos);
                });
             }
            //Add listener
            new google.maps.event.addListener(map, "click", function (event) {
                var latitude = event.latLng.lat();
                var longitude = event.latLng.lng();
                //console.log( latitude + ', ' + longitude );
                $("#long").val(longitude);
                $("#lat").val(latitude);
                showPosition(latitude, longitude);
                
                setMapOnAll(null);
                sidrerias = [];

                var sidreria = new google.maps.Marker({
                    position: new google.maps.LatLng(latitude,longitude),
                    animation: google.maps.Animation.DROP,
                    map: map,
                    title: 'Tu sidrería.'
                });
                sidrerias.push(sidreria);
                setMapOnAll(map);
                
                
                
            }); //end addListener
    
          }
          
            function setMapOnAll(map) {
              for (var i = 0; i < sidrerias.length; i++) {
                sidrerias[i].setMap(map);
              }
            }
            
            /*
            // Removes the markers from the map, but keeps them in the array.
            function clearMarkers() {
              setMapOnAll(null);
            }
            
            // Shows any markers currently in the array.
            function showMarkers() {
              setMapOnAll(map);
            }
            
            // Deletes all markers in the array by removing references to them.
            function deleteMarkers() {
              clearMarkers();
              sidrerias = [];
            }
            */
          
          function showPosition(lat,long) {
                var url2 = get_json("https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+long+"&key=AIzaSyBREelEG1_QwGs9Ur0VE00OoqOa9sjppWE");
                var json2 = JSON.parse(url2);
                var a2 = json2.results[0].formatted_address;
                
                $("#direccion").val(a2);
                
                $.each(json2.results[0].address_components, function (i, address_component) {
                    /*console.log('address_component:'+i);*/
                
                    if (address_component.types[0] == "locality"){
                        //console.log("town:"+address_component.long_name);
                        //itemLocality = address_component.long_name;
                        $("#pueblo").val(address_component.long_name);
                    }
                
                    /*
                    if (address_component.types[0] == "route"){
                        console.log(i+": route:"+address_component.long_name);
                        itemRoute = address_component.long_name;
                    }
                    
                    if (address_component.types[0] == "country"){ 
                        console.log("country:"+address_component.long_name); 
                        itemCountry = address_component.long_name;
                    }
                
                    if (address_component.types[0] == "postal_code_prefix"){ 
                        console.log("pc:"+address_component.long_name);  
                        itemPc = address_component.long_name;
                    }
                
                    if (address_component.types[0] == "street_number"){ 
                        console.log("street_number:"+address_component.long_name);  
                        itemSnumber = address_component.long_name;
                    }*/
                });
            }
            
            function get_json(url) {
                var resp ;
                var xmlHttp ;
                
                resp  = '' ;
                xmlHttp = new XMLHttpRequest();
                
                if(xmlHttp != null)
                {
                    xmlHttp.open( "GET", url, false );
                    xmlHttp.send( null );
                    resp = xmlHttp.responseText;
                }
                
                return resp ;
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJELelOvLyRDQ_wpznHSccW6w7JhYkXzA&callback=myMap"></script>
 
    
    

{% endblock %}