{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="row">
                <h1 class="mtitle title-padding text-center">Editar Perfil Sidreria</h1>
            </div>
            <div class="row">
         <form action="{{ path("actualizar_sagardotegi", {id: sidreria.id})}}" class="contact_form">
             <input type="text" name="nombre" value="{{sidreria.nombre}}" placeholder= "nombre sidreria" class= "formulario">
             <input name="descripcion" class= "formulario" name="decripcion" value="{{sidreria.descripcion}}"  cols="40" rows="6" required  placeholder="Descripcion sidreria"></input>
             <input type="text" name="direccion" value="{{sidreria.direccion}}" placeholder= "direccion sidreria" class= "formulario">
             <button type="submit" class="formulario" class= "formulario" id="enviar" >Guardar</button>
             <a href="{{ path("administracion_usuarios",{nombreSidreria: app.user.nombreSidreria})}}"><button id="enviar" class= "formulario">Cancelar</button></a>
         </form>
        
         
    </div>
        </div>
    </div>
     
    
    

{% endblock %}