{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="row">
                <h1 class="mtitle title-padding text-center">{{ 'titulos.editkupela' | trans }}</h1>
            </div>
        <div class="row">
       
         <form action="{{ path("actualizar_kupela", {id: kupela.id})}}" class="contact_form" method="post" enctype="multipart/form-data">
            <label>{{ 'labels.kupela.nombre' | trans }}</label><input type="text" name="nombre" class= "formulario" value="{{kupela.nombre}}" placeholder="nombre de la Kupela">
            <label>{{ 'labels.kupela.descripcion' | trans }}</label><textarea name="descripcion" class= "formulario" placeholder="descripcion de la Kupela" style="resize: vertical;">{{kupela.descripcion}}</textarea>
            <label>{{ 'labels.kupela.ano' | trans }}</label><input type="text" name="year" class= "formulario" value="{{kupela.year}}" placeholder="año de la Kupela">
            <label>{{ 'labels.kupela.foto' | trans }}</label><div id="foto2" name="foto2" class="formulario" value="{{kupela.foto}}">{{ 'boton.selfoto' | trans }}</div>
                                    <input type="hidden" name="foto" class="formulario" id="foto" value="{{kupela.foto}}"/>
            <button id="enviar"  type="submit" class="formulario">{{ 'boton.guardar' | trans }}</button>
             
         </form>
            <a href="{{ path("administracion_usuarios",{nombreSidreria: app.user.nombreSidreria})}}"><button id="cancelar"  class="formulario">{{ 'boton.cancelar' | trans }}</button></a>
           <script>
          /*function valor(valor){
              //alert(valor);
              document.getElementById("foto").value = valor;
          }*/
          </script>
        
         </div>
        </div>
    </div>
       
    
    

{% endblock %}