{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="row">
                <h1 class="mtitle title-padding text-center">{{ 'titulos.newkupela' | trans }}</h1>
            </div>
            <div class="row">
                <form action= "{{path('registrar_kupela')}}" method="post" class="contact_form" enctype="multipart/form-data">
                    <label>{{ 'labels.kupela.nombre' | trans }}</label><input type="text" name="nombre" value="" placeholder="nombre kupela" class= "formulario" required>
                    <label>{{ 'labels.kupela.descripcion' | trans }}</label><input type="text" name="descripcion" value="" placeholder="descripcion kupela" class= "formulario">
                    <label>{{ 'labels.kupela.ano' | trans }}</label><input type="text" name="year" value="" placeholder="año kupela" class= "formulario" required>
                    <input type="hidden" name="id-sagardotegi" value="{{ app.request.get('id') }}" class= "formulario"/>
                    <label>{{ 'labels.kupela.foto' | trans }}</label><input type="filepicker" data-fp-apikey="AnjcKYi0oTomOZxBk7c7Ez" onchange="valor(event.fpfile.url)" id="foto" name="foto" class="formulario" value="">
                    <input type="hidden" name="id-sagardotegi" value="{{ app.request.get('id') }}" class= "formulario"/>
                    <button type="submit" class= "formulario" id="enviar" >{{ 'boton.guardar' | trans }}</button>
                    <a href="{{ path("administracion_usuarios",{nombreSidreria: app.user.nombreSidreria})}}"><button id="enviar" class= "formulario">{{ 'boton.cancelar' | trans }}</button></a>
                </form>
            </div>
            <script>
            function valor(valor){
                //alert(valor);
                document.getElementById("foto").value = valor;
            }
            </script>
        </div>
    </div>
    
    
    

{% endblock %}