{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9  col-md-12  main">
          <h1 class="page-header">Perfil sidreria</h1>
          <div class="col-sm-5">
              <h1 class="card-title">{{sidreria.nombre}}</h1>
              <p class="card-description" id="descripcion">{{sidreria.descripcion}}</p>
              <p class="card-description" id="horario">{{sidreria.horario}}</p>
              <a href="{{ path("editar_sagardotegi",{idSagardotegi:sidreria.id})}}"><button class="btn btn-primary">Editar</button></a>
         </div>
         <div class="col-sm-6 col-sm-offset-1">
           <div class="card-direction text-uppercase text-center">{{sidreria.pueblo}}</div>

           <img src= "{{asset(sidreria.foto)}}"  class="img-responsive" alt="Responsive image">
              
        </div>   
      </div>  

        </div>   
      </div>  
      <div class="col-sm-12  main">
          <h2 class="page-header">Listado kupelas</h2>
        <div class="col-sm-12">
            <div id="nueva_kupela"><a href="{{ path("nueva_kupela",{id:sidreria.id})}}"><i id= "plus" class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i></a></div>
            <div class="table-responsive">
              {%for kupela in kupelas %}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Foto</th>
                    <th>Kupela</th>
                    <th>Descripcion</th>
                    <th>Año</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img class="img-rounded img-kupela-lista"src="{{asset(kupela.foto)}}" /></td>
                    <td>{{kupela.nombre}}</td>
                    <td>{{kupela.descripcion}}</td>
                    <td>{{kupela.year}}</td>
                    <td><a href="{{ path("editar_kupela",{id:kupela.id})}}"><button class="btn btn-primary">Editar</button></a></td>
                    <td><a href="{{ path("eliminar_kupela",{id:kupela.id})}}" onclick="seguro();"><button class="btn btn-primary">Eliminar</button></a></td>
                </tbody>
              </table>
              {%endfor%}
             
            </div>

          </div>
        </div>
      </div>
{% endblock %}