{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid content">
    
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="row">
                <h1 class="mtitle title-padding text-center">{{ 'paginas.contacto.titulo' | trans }}</h1>
            </div>
            <div class="row">
                <form class="contact_form" action="{{path('enviar_correo')}}" method="post">
                    <input name= "nombre-apellidos" class= "formulario" type="text" required  placeholder="{{ 'paginas.contacto.nombre' | trans }}"/>
                    <input name= "email" class= "formulario" type="email" name="email" required placeholder="{{ 'paginas.contacto.email' | trans }}"/>
                    <textarea name="contenido" class= "formulario" name="Mensaje" cols="40" rows="6" required  placeholder="{{ 'paginas.contacto.motivo' | trans }}"></textarea>
                    <input id="enviar" class="formulario" type="submit" value="{{ 'paginas.contacto.enviar' | trans }}" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}

