{% extends 'base.html.twig' %}

{% block body %}


<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="row">
                <h1 class="mtitle title-padding text-center">{{ 'paginas.registrasidre.titulo' | trans }}</h1>
                <p id="registro_sidreria"class="single-description">{{ 'paginas.registrasidre.subtitulo' | trans }}</p>
                <p id="registro_sidreria"class="single-description">{{ 'paginas.registrasidre.merece' | trans }}</p>
       
            </div>
            <div class="row">
                <form class="contact_form" action="{{path('registrar_correo')}}" method="post">
                       <label>{{ 'labels.registro.nombreyape' | trans }}</label><input name= "nombre-apellidos" class= "formulario" type="text" required  placeholder="{{ 'labels.registro.nombreyape' | trans }}"/>
                       <label>{{ 'labels.registro.email' | trans }}</label><input name= "email" class= "formulario" type="email" name="email" required placeholder="{{ 'labels.registro.email' | trans }}"/>
                       <label>{{ 'labels.registro.nombresidre' | trans }}</label><input name= "nombreSidreria" class= "formulario" type="text" required  placeholder="{{ 'labels.registro.nombresidre' | trans }}"/>
                       <label>{{ 'labels.registro.direccion' | trans }}</label><input name= "direccion" class= "formulario" type="text" required  placeholder="{{ 'labels.registro.direccion' | trans }}"/>
                       <label>{{ 'labels.registro.descripcion' | trans }}</label><textarea name="descripcion" class= "formulario" name="Mensaje" cols="40" rows="6" required  placeholder="{{ 'labels.registro.descripcion' | trans }}"></textarea>
                       <input id="enviar" class="formulario" type="submit" value="{{ 'boton.enviar' | trans }}" />
                </form>
            </div>
        </div>
    </div>
 

{% endblock %}
