{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
    <div class="row-nuevakupela" style="margin-top:50px;">
        
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Editar usuario</h2>
            <form action="{{path('actualizar_usuario', { id: usuario.id })}}">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="nombre" class="form-control" value="{{ usuario.nombre }}" />
                </div>
                <div class="form-group">
                    <label>Apellidos</label>
                    <input type="text" name="apellidos" class="form-control" value="{{ usuario.apellidos }}" /> 
                </div>
                <div class="form-group">
                    <label>ID de la Sagardotegi</label>
                    <input type="number" name="id-sidreria" class="form-control" value="{{ usuario.idSidreria }}" /> 
                </div>
                <div class="form-group">
                    <label>Nombre de la Sagardotegi</label>
                    <input type="text" name="nombre-sidreria" class="form-control" value="{{ usuario.nombreSidreria }}" /> 
                </div>
                <div class="form-group">
                    <label>Teléfono</label>
                    <input type="number" name="telefono" class="form-control" value="{{ usuario.telefono }}" /> 
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" value="{{ usuario.email }}" /> 
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <input type="text" name="direccion" class="form-control" value="{{ usuario.direccion }}" /> 
                </div>
                <div class="form-group">
                    <label>Nombre de usuario</label>
                    <input type="text" name="username" class="form-control" value="{{ usuario.username }}" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Actualizar datos</button>
                </div>
            </form>
        </div>
    </div>
    
    
    

{% endblock %}