{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
    <div class="row-nuevakupela" style="margin-top:50px;">
        
        {% for flashMessage in app.session.flashbag.get('mensaje') %}
        	<div class="alert alert-success" role="alert">
        		<div class="container"> {{ flashMessage }} </div>
        	</div>
        {% endfor %}
        
        <a href="{{ path('form_nueva_sagardotegi') }}" class="btn btn-default">Nueva Sidrería</a>
         
        <div class="table-responsive">
            <table id="usuarios" class="table table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Sidrería</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td><a href="{{ path('nuevo_usuario') }}" title="Crear un nuevo usuario"><span class="glyphicon glyphicon-plus"></span></a></td>
                </tr>
                {% for usuario in usuarios %}
                <tr>
                        <td>{{ usuario.nombre }} {{ usuario.apellidos }}</td>
                        <td>{{ usuario.nombreSidreria }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.telefono }}</td>
                        <td><a href="{{ path('editar_usuario', { id: usuario.id }) }}" class="btn btn-default">Editar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
    
    

{% endblock %}