{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
    <div class="row-nuevakupela" style="margin-top:50px;">
        
        {% for flashMessage in app.session.flashbag.get('mensaje') %}
        	<div class="alert alert-success" role="alert">
        		<div class="container"> {{ flashMessage }} </div>
        	</div>
        {% endfor %}
        
        <a href="{{ path('nuevo_usuario') }}" title="{{ 'titulos.newusuario' | trans }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
        
        <div class="table-responsive">
            <table id="usuarios" class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>{{ 'labels.usuario.nombre' | trans }}</th>
                    <th>{{ 'labels.usuario.sidreria' | trans }}</th>
                    <th>{{ 'labels.usuario.email' | trans }}</th>
                    <th>{{ 'labels.usuario.telefono' | trans }}</th>
                    <th colspan="2">{{ 'labels.usuario.acciones' | trans }}</th>
                </tr>
                {% for usuario in usuarios %}
                <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nombre }} {{ usuario.apellidos }}</td>
                        <td>{{ usuario.nombreSidreria }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>
                            {{ usuario.telefono }}
                            <br/>
                            <label class="switch">
                              <input type="checkbox">
                              <div class="slider round"></div>
                            </label>
                        </td>
                        <td><a href="{{ path('editar_usuario', { id: usuario.id }) }}" class="btn btn-default">{{ 'boton.editar' | trans }}</a></td>
                        <td><a href="{{ path('eliminar_usuario', { id: usuario.id }) }}" class="btn btn-default" onclick="seguro();">{{ 'boton.eliminar' | trans }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
    
    

{% endblock %}