{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
    <div class="row-nuevakupela" style="margin-top:50px;">
        
        {% for flashMessage in app.session.flashbag.get('mensaje') %}
        	<div class="alert alert-success" role="alert">
        		<div class="container"> {{ flashMessage }} </div>
        	</div>
        {% endfor %}
        
        <a href="{{ path('form_nueva_sagardotegi') }}" title="{{ 'titulos.newsidre' | trans }}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
        
        <div class="table-responsive">
            <table id="usuarios" class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>{{ 'labels.sidreria.nombre' | trans }}</th>
                    <th>{{ 'labels.sidreria.direccion' | trans }}</th>
                    <th>{{ 'labels.sidreria.descripcion' | trans }}</th>
                    <th>{{ 'labels.sidreria.acciones' | trans }}</th>
                </tr>
                {% for sagardotegi in sagardotegis %}
                <tr>
                        <td>{{ sagardotegi.id }}</td>
                        <td>{{ sagardotegi.nombre }}</td>
                        <td>{{ sagardotegi.direccion }}</td>
                        <td>{{ sagardotegi.descripcion }}</td>
                        <td>
                            <a href="{{ path('edit_sagardotegi', { id: sagardotegi.id }) }}" class="btn btn-default">{{ 'boton.editar' | trans }}</a>
                            <a href="{{ path('delete_sagardotegi', { id: sagardotegi.id }) }}" class="btn btn-default" onclick="seguro();">{{ 'boton.eliminar' | trans }}</a>
                        </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    
    
    

{% endblock %}