{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <h1 class="mtitle title-padding text-center">{{ 'titulos.editperfil' | trans }}</h1>
            </div>
        
            <div class="row">
                <form action="{{path('actualizar_perfil', { id: usuario.id })}}" class="contact_form">
                    <label>{{ 'labels.usuario.nombre' | trans }}</label><input type="text" name="nombre" class="formulario" value="{{ usuario.nombre }}" />
                    <label>{{ 'labels.usuario.apellidos' | trans }}</label><input type="text" name="apellidos" class="formulario" value="{{ usuario.apellidos }}" /> 
                    <label>{{ 'labels.usuario.sidreria' | trans }}</label><select name="sidreria" class="formulario">
                        <option value="{{ usuario.idSidreria }}-{{ usuario.nombreSidreria }}">{{ usuario.nombreSidreria }}</option>
                    </select>
                    <label>{{ 'labels.usuario.telefono' | trans }}</label><input type="number" name="telefono" class="formulario" value="{{ usuario.telefono }}" /> 
                    <label>{{ 'labels.usuario.email' | trans }}</label><input type="email" name="email" class="formulario" value="{{ usuario.email }}" /> 
                    <label>{{ 'labels.usuario.username' | trans }}</label><input type="text" name="username" class="formulario" value="{{ usuario.username }}" disabled/>
                    <button type="submit" class= "formulario" id="enviar" >{{ 'boton.actualizar' | trans }}</button>
                </form>
                <a href="{{path("change_password", { id: usuario.id })}}"><button class="formulario">{{ 'boton.change_password' | trans }}</button></a>
            </div>
        </div>
    </div>
    
    
    

{% endblock %}