{% extends 'base.html.twig' %}

{% block body %}
   <div class="container-fluid">
   
        <div class="row single-sagardotegi">
            <div class="col-xs-6">
                <h1 class="card-title text-uppercase">{{ sagardotegi.nombre }}</h1>
                    <p class="single-description" id="descripcion">{{ sagardotegi.descripcion }}</p>
                    <a href="{{ path("sagardotegi_mapa", {idSagardotegi:sagardotegi.id}) }}"><button type="button" class="btn btn-default">Como llegar</button></a>
                    <a href="http://www.petritegi.com/es/contacto"><button type="button" class="btn btn-default">Contacto</button></a>
            </div>
            <div class="col-xs-6">
                <div class="card-single-direction text-uppercase text-center"><h4>{{ sagardotegi.direccion }}</h4></div>
                <img class="single-img img-responsive img-rounded" src="{{asset(sagardotegi.foto)}}"></img>
            </div>
        </div>
    </div>
    
    <div class="container">
        
    <div class="row p-x-1 kupela-list">
        <div class="col-xs-12">
    {% for kupela in kupelas %}
        
      
        <div class="row single-kupela">
            <div class="col-xs-4 vote-wrapper">
                <div class="row text-center">
                    <div class="col-xs-12">
                    <img src="{{asset(kupela.foto)}}" alt="kupela" class="single-kupela-img img-thumbnail img-circle img-responsive"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="vote-count">{{kupela.numVotos}}<i class="fa fa-heart fa-1x" aria-hidden="true"></i></h3>
                    </div>
                     <div class="col-xs-6">   
                        <button class="vote-button"><i class="fa fa-heart fa-2x" aria-hidden="true"></i></button>
                    <div class="col-xs-12">
                        <button class="vote-button">
                            <a href="#" id="{{kupela.id}}" class="btn-facebook" numero="{{kupela.id}}">
					            <img class="like-kupela img-responsive" src= "/web/img/logo_reverse.jpg">
					        </a>
					    </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="caption">
                    <h3 class="card-title text-uppercase">{{kupela.nombre}}</h3>
                    <p class="single-description">{{kupela.descripcion}}</p>
                </div>
            </div>
        </div>
      
    {% endfor %}
        </div>
        {{ include('KupelikeBundle:Kupela:_facebook.html.twig') }}
    </div>
{% endblock %} 