{% extends 'base.html.twig' %}

{% block body %}
  
   
    <div class="row kupela">
      <div class="col-sm-6">
            <h1>{{sagardotegi.nombre}}</h1>
            <p>{{sagardotegi.descripcion}}</p>
            <a href="">Como Llegar</a>
            <a href="">Contacto</a>
     </div>
     <div class="col-sm-6">
         <div class="card-direction text-uppercase text-center"><h4>{{ sagardotegi.direccion }}</h4></div>
         <img src= "{{asset(sagardotegi.foto)}}" class="img-responsive">
            
    </div>        
          
       </div>
    </div>   
    {% for kupela in kupelas %}
     <div class="row kupela">   
          <div class="col-sm-12">
            <div class="thumbnail">
            <div class="col-sm-4">   
              <h3>{{kupela.nombre}}</h3>
              <p>{{kupela.descripcion}}</p>   
            </div> 
             <div class="col-sm-4">   
              <img src="{{asset(kupela.foto)}}" alt="kupela" class="img-responsive">
            </div>
            <div class="col-sm-4">
              <h1>{{kupela.numVotos}}</h1>
              <img src= "{{asset("/uploads/kupelas/like.png")}}">
            </div>        
              </div>
            </div>
          </div>
  
    {% endfor %}
    </div>
{% endblock %}
