{% extends 'base.html.twig' %}

{% block body %}
  
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-9  col-md-12  main">
          <div class="col-sm-5">
            <h1 class="card-title">{{sagardotegi.nombre}}</h1>
            <p class="card-description" id="descripcion">{{sagardotegi.descripcion}}</p>
            <a href="{{ path("sagardotegi_mapa", {idSagardotegi:sagardotegi.id}) }}"><button type="button" class="btn btn-primary">Como llegar</button></a>
            <a href="http://www.petritegi.com/es/contacto"><button type="button" class="btn btn-primary">Contacto</button></a>
           </div>    
     
      <div class="col-sm-6 col-sm-offset-1">
         <div class="card-direction text-uppercase text-center"><h4>{{ sagardotegi.direccion }}</h4></div>
         <img src= "{{asset(sagardotegi.foto)}}"  class="img-thumbnail" alt="Responsive image">
    </div>   
 </div>    
          
 <div class="col-sm-12">
          <h2 class="page-header">Listado kupelas</h2>

    {% for kupela in kupelas %}
    
    <div class="col-sm-12">
        <div  class="panel panel-default">  
            <div class="col-sm-4">   
              <h2 class="card-title" >{{kupela.nombre}}</h2></br></br>
              <p class="card-description">{{kupela.descripcion}}</p>   
              <p class="card-year">{{kupela.year}}</p>
             </div> 
             <div class="col-sm-4">   
              <img src="{{asset(kupela.foto)}}" class="img-rounded img-kupela-lista" alt="Responsive image">
             </div>
             <div class="col-sm-4">
              <h2 id="numvotos">{{kupela.numVotos}}</h2>
              <a href="#" id="btn-facebook" class="{{kupela.idSagardotegi}}">
                  <img id="btn-facebook" src= "{{asset("/uploads/kupelas/like.png")}}">
              </a>
             </div>        
        </div>      
    </div>
  
    {% endfor %}
    </div>
 
    {{ include('KupelikeBundle:Kupela:_facebook.html.twig') }}
    
{% endblock %}

