{% extends 'base.html.twig' %}

{% block body %}
  
 
<div class="container-fluid">  
    <div class="row kupela col-sm-12">
        <div class="col-sm-3 col-sm-offset-2">
            <h1 class="card-title">{{sagardotegi.nombre}}</h1>
            <p class="card-description" id="descripcion">{{sagardotegi.descripcion}}</p>
            <a href="{{ path("sagardotegi_mapa", {idSagardotegi:sagardotegi.id}) }}"><button type="button" class="btn btn-default">Como llegar</button></a>
            <a href="http://www.petritegi.com/es/contacto"><button type="button" class="btn btn-default">Contacto</button></a>
     </div>
     <div class="col-sm-6 col-sm-offset-1">
         <div class="card-direction text-uppercase text-center"><h4>{{ sagardotegi.direccion }}</h4></div>
         <img src= "{{asset(sagardotegi.foto)}}"  class="img-responsive" alt="Responsive image">
            
    </div>   
 </div>    
          


    {% for kupela in kupelas %}
     <div class="row kupela">   
          <div class="col-sm-12">
            <div class="thumbnail">
            <div class="col-sm-4">   
              <h2  class="card-title" >{{kupela.nombre}}</h2></br></br>
              <p class="card-description">{{kupela.descripcion}}</p>   
             </div> 
             <div class="col-sm-4">   
              <img src="{{asset(kupela.foto)}}" class="img-responsive" alt="Responsive image">
             </div>
             <div class="col-sm-4">
              <h1>{{kupela.numVotos}}</h1>
              <a href="#" id="btn-facebook" class="{{kupela.idSagardotegi}}">
                  <img src= "{{asset("/uploads/kupelas/like.png")}}">
              </a>
             </div>        
            </div>
    </div>
  
    {% endfor %}
    </div>
 
    {{ include('KupelikeBundle:Kupela:_facebook.html.twig') }}
    
{% endblock %}

