{% extends 'base.html.twig' %}

{% block body %}
   <div class="container">
   
        <div class="row single-sagardotegi">
            <div class="col-xs-6">
                <h1 class="card-title text-uppercase">{{ sagardotegi.nombre }}</h1>
                    <p class="single-description" id="descripcion">{{ sagardotegi.descripcion }}</p>
                    <a href="{{ path("sagardotegi_mapa", {idSagardotegi:sagardotegi.id}) }}"><button type="button" class="btn btn-default">{{ 'paginas.sidrerias.llegar' | trans }}</button></a>
                    <button id="contactoSidreria" type="button" class="btn btn-default">{{ 'paginas.sidrerias.contacto' | trans }}</button>
                    <div id="mostrarcontacto">
                        <p class="single-description">{{sagardotegi.direccion}}</p>
                        <p class="single-description">{{sagardotegi.email}}</p>
                        <p class="single-description">{{sagardotegi.telefono}}</p>
                    </div>
            </div>
            <div class="col-xs-6">
                <div class="card-single-direction text-uppercase text-center"><h4>{{ sagardotegi.pueblo }}</h4></div>
                <img class="single-img img-responsive img-rounded" src="{{asset(sagardotegi.foto)}}"></img>
            </div>
        </div>
    </div>
    <script>
        var pusher = new Pusher('a37218af0d3c7dcfceae', {
            encrypted: true
        });
        var channel = pusher.subscribe('my-channel');
        channel.bind('my-event', function(data) {
            document.getElementById(data.id).innerHTML = data.message + "<i class='fa fa-heart fa-1x' aria-hidden='true'></i>";
        });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    
<div class="container-fluid">
        
    <div class="row p-x-1 kupela-list">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
    {% for i, kupela in kupelas %}
        
      
        <div class="row single-kupela">
            <div class="col-xs-4 vote-wrapper">
                <div class="row text-center">
                    <div class="col-xs-12 p-x-0">
                    <img src="{{asset(kupela.foto)}}" alt="kupela" class="single-kupela-img img-responsive"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3 id="{{kupela.id}}" class="vote-count">{{kupela.numVotos}}<i class="fa fa-heart fa-1x" aria-hidden="true"></i></h3>
                    </div>
                     <div class="col-xs-6 p-x-0">   
                        <button class="vote-button pull-right">
                            <a class="btn-facebook" numero="{{kupela.id}}">
                                <img class="vote-logo" src="/img/logo_reverse.jpg"></img>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="caption">
                    <h3 class="card-title text-uppercase">{{kupela.nombre}}</h3>
                    <p class="single-description">{{kupela.descripcion}}</p>
                    <div id="chartContainer-{{i}}" style="height: 100px; width: 100%;"></div> 
                </div>
            </div>
        </div>
      
    {% endfor %}
        </div>
        {{ include('KupelikeBundle:Kupela:_facebook.html.twig') }}
    </div>
    
     <script src={{asset("js/estadisticas.min.js")}}></script>
     <script type="text/javascript">
      
      window.onload = function () {
        {% for i, kupela in kupelas %}
        
          	var chart = new CanvasJS.Chart("chartContainer-{{i}}", {
          		theme: "theme2",//theme1
          		title:{
          			text: "Likes a la kupela por GENERO"              
          		},
          		animationEnabled: false,   // change to true
          		data: [              
          		{
          			// Change type to "bar", "area", "spline", "pie",etc.
          			type: "bar",
          			dataPoints: [
          			    
          				{ label: "Mujeres",  y: {{mujeres|length}}},
          				{ label: "Hombres", y: {{hombres|length}}}
          				
          			]
          		}
          		]
          	});
          	chart.render();
          
        {% endfor %}
      }
      </script>
    
{% endblock %} 