{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="caja">
      <h1 class="text-center mtitle">{{ sagardotegi.nombre }}</h1>
    
    <div id="map" class="mapa"></div>

        <script>
        function myMap() {
        var mapCanvas = document.getElementById("map");
        var mapOptions = {
          center: new google.maps.LatLng({{ sagardotegi.latitud }},{{ sagardotegi.longitud }}), 
          zoom: 17,
          scrollwheel: false
        };
        var kupImg="https://kupelike-edertxodw.c9users.io/web/img/botellasidra2.png";		
    		var sagarImg={
    			url:kupImg,
    			size: new google.maps.Size(12, 45)
    		};
    		
    		var perImg="https://kupelike-edertxodw.c9users.io/web/img/personaPos.png";		
    		var persImg={
    			url:perImg,
    			size: new google.maps.Size(35, 35)
    		};
    		
    		var sagarPos = {lat: {{ sagardotegi.latitud }}, lng: {{ sagardotegi.longitud }}};
        var sagardotegi = new google.maps.Marker({
            position: sagarPos,
            map: map,
            title: '{{ sagardotegi.nombre }}',
            icon: sagarImg
          });
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var persona = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Tu posición.',
            icon: persImg
          });
          });
          
    		//var map = new google.maps.Map(mapCanvas, mapOptions);
    		
        var map = new google.maps.Map(mapCanvas, mapOptions),
        directionsService = new google.maps.DirectionsService,
    directionsDisplay = new google.maps.DirectionsRenderer({
      map: map
    }),
    sagardotegi,
    persona;
        
        
		
        
        }
      }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
    </div>
  </div>
</div>
    
{% endblock %}